.col-md-12
  .pull-right
    = image_tag "logo.jpg", :align => 'left', :class => "img-rounded", :style => "margin-left:33px;" 
.col-md-12
  = render "payslip_header"
.col-md-12
  = render "payslip_header_2"
.col-md-12
  %hr
  .col-md-6.col-right-border  
    .col-md-offset-4
      %h4 EARNINGS (in Rupees)
    .col-md-12
      = render :partial => "earnings", :locals => {:payslip => @payslip}
     
            
  .col-md-6
    .col-md-offset-4
      %h4 DEDUCTIONS (in Rupees)
    .col-md-12
      = render :partial => "deductions", :locals => {:payslip => @payslip}
      
            
.col-md-12
  %hr
  .col-md-4
    %h4 EMPLOYEE SIGNATURE 
  .col-md-4
    %h4 AUTHORISED SIGNATORY
  .col-md-4
    .pull-right
      %label= "Net Amount : #{@payslip.net_total}"

.col-md-12
  .col-md-offset-3
    %br
    %br
    %br
    - if @employee_master.prev_employee.present?
      = link_to raw("<i class = 'fa fa-angle-double-left fa-lg'></i> Prev"), new_employee_master_payslip_path(@employee_master.prev_employee), :class => "btn btn-primary"
    - unless @payslip.approved?
      = edit_button(edit_employee_master_payslip_path(@employee_master, @payslip))
    = print_button(employee_master_payslip_path(@employee_master, @payslip, {:format => :pdf}))
    = email_button(mail_employee_master_payslip_path(@employee_master, @payslip))
    - if @employee_master.next_employee.present?
      = link_to raw("<i class = 'fa fa-angle-double-right fa-lg'></i> Next"), new_employee_master_payslip_path(@employee_master.next_employee), :class => "btn btn-primary"
