%tr
  %td= link_to job_run.id, job_run
  %td= job_run.job_code.titleize
  %td= job_run.started_on.to_s
  %td= job_run.finished_on.to_s
  %td= job_run.status
  %td= job_run.payslip_mailing_failures.count
