%h3
  = link_to "#{@job_run.job_code.titleize} Jobs", job_runs_path
  %hr
%table{ :class => "table table-striped table-condensed table-bordered instrument_table" }
  %thead
    %tr
      %th Job Run Id
      %th Job
      %th Started On
      %th Finished On
      %th Status
      %th Failed Count
  %tbody
    = render 'job_run', :job_run => @job_run
- if @job_run.payslip_mailing_failures.count > 0
  %h4 Failed Mails

  %table{ :class => "table table-striped table-condensed table-bordered instrument_table" }
    %thead
      %tr
        %th S.No
        %th Employee Name
        %th Payslip Id 
        %th Payslip Date
        %th Error Message
        -#%th Action
    %tbody
      - @job_run.payslip_mailing_failures.each_with_index do |failure, index| 
        %tr 
          %td= index+1
          %td= failure.payslip.employee_master.name
          %td= link_to failure.payslip.id, employee_master_payslip_path(failure.payslip.employee_master, failure.payslip)
          %td= failure.payslip.generated_date
          %td= failure.error_message
          -#%td= link_to "Mail Again", mail_employee_master_payslip_path(failure.payslip.employee_master, failure.payslip)
