%p 
  Dear #{@employee_master.name},
  
%p= "Please find the attached payslip for the month of #{@month_str}." 
 
%p  Password to the attachment is your Employee ID followed by date of birth in the format "EmployeeID-dd-mm-yyyy"
%p Eg: "HTI/000-00-00-0000"
