-# .pull-right
-#   = will_paginate @employee, param_name: 'page', previous_label: h("<"), next_label: h(">")
%table.table.table-condensed
  %thead
    %th= sortable "code"
    %th= sortable "initials"
    %th= sortable "name"
    %th= sortable "designation"
    %th= sortable "department"
    %th= sortable "date_of_joining"
  %tbody
    - employees.each do |employee_master|
      %tr
        %td= link_to employee_master.code, employee_master
        %td= employee_master.initials
        %td= employee_master.name
        %td= employee_master.designation_master.name
        %td= employee_master.department_master.name
        %td= employee_master.date_of_joining
= will_paginate employees, param_name: 'page', previous_label: h("<"), next_label: h(">")
