= form_tag search_employee_masters_path, :method => 'get' , :class => "form-inline" do
  .form-group
    = autocomplete_field_tag :search_term,
    params[:search_term],
    autocomplete_employee_employee_masters_path,
    :placeholder => "Employee code/name", :class => 'form-control',
    :id_element => "#search"
    = hidden_field_tag :search, :id => "search"
    = submit_search
  - if current_user.manager?
    = link_to_new(new_employee_master_path)
    = link_to_upload(new_upload_employee_masters_path)

   
