.row
  = form_tag ctc_reports_employee_masters_path, :method => "GET",:class=>"form-horizontal", :id => "employeeCtcForm" do
    .col-sm-2
      = text_field_tag  :lower_ctc_limit, params[:lower_ctc_limit], :class => "form-control" , :placeholder => "Lower CTC limit"
    .col-sm-2
      = text_field_tag :upper_ctc_limit, params[:upper_ctc_limit] ,:class => "form-control"  , :placeholder => "Upper CTC limit"
    .col-sm-2
      %button{:type=>"submit", :class=> "btn btn-primary"}= "Go"
      = link_to "Print", "#", :target => "blank", :class => "btn btn-primary", :rel => "print-ctc-report"
.row
  .col-md-10
    %table.table.table-condensed
      %thead
        %th= sortable("code", nil, {:lower_ctc_limit => params[:lower_ctc_limit], :upper_ctc_limit => params[:upper_ctc_limit]})
        %th= sortable("initials", nil, {:lower_ctc_limit => params[:lower_ctc_limit], :upper_ctc_limit => params[:upper_ctc_limit]})
        %th= sortable("name", nil, {:lower_ctc_limit => params[:lower_ctc_limit], :upper_ctc_limit => params[:upper_ctc_limit]})
        %th= sortable("designation", nil, {:lower_ctc_limit => params[:lower_ctc_limit], :upper_ctc_limit => params[:upper_ctc_limit]})
        %th= sortable("ctc", nil, {:lower_ctc_limit => params[:lower_ctc_limit], :upper_ctc_limit => params[:upper_ctc_limit]})
      %tbody
        - @employee_masters.each do |employee_master|
          %tr
            %td= employee_master.code
            %td= employee_master.initials
            %td= employee_master.name
            %td= employee_master.designation_master.name
            %td= employee_master.ctc
 
    
