.row
  = form_tag reports_employee_masters_path, :method => "GET",:class=>"form-horizontal", :id => "employeeReportForm" do
    .col-sm-2
      = text_field_tag  :from_date, params[:from_date], :class => "form-control datepicker"
    .col-sm-2
      = text_field_tag :to_date, params[:to_date] ,:class => "form-control datepicker"
      %br
    .col-sm-2
      = select_tag :status,  options_for_select([['Joining'],['Attrition']]  , params[:status]), :class => 'form-control'
    .col-sm-2
      %button{:type=>"submit", :class=> "btn btn-primary"}= "Go"
      = link_to "Print", "#", :target => "blank", :class => "btn btn-primary", :rel => "print-employee-report"
.row
  .col-md-10
    %table.table.table-condensed
      %thead
        %th= sortable("code", nil,{:from_date => params[:from_date], :to_date => params[:to_date], :status => params[:status]})
        %th= sortable("initials", nil, {:from_date => params[:from_date], :to_date => params[:to_date], :status => params[:status]})
        %th= sortable("name", nil, {:from_date => params[:from_date], :to_date => params[:to_date], :status => params[:status]})
        %th= sortable("designation", nil, {:from_date => params[:from_date], :to_date => params[:to_date], :status => params[:status]})
        %th= sortable("department", nil, {:from_date => params[:from_date], :to_date => params[:to_date], :status => params[:status]})
      %tbody
        - @employee_masters.each do |employee_master|
          %tr
            %td= employee_master.code
            %td= employee_master.initials
            %td= employee_master.name
            %td= employee_master.designation_master.name
            %td= employee_master.department_master.name
 
    
