.navbar.navbar-inverse                 
  .navbar-inner.container-fluid
    .col-sm-12
      .navbar-header
        .navbar-brand
          = link_to (image_tag "logo.jpg", :alt => "HOCHTIEF", :height => "41px"), root_path
      - if current_user.present?
        %ul.nav.navbar-nav
          %li{:class => "#{controller_name == 'employee_masters' ? 'active': ''}"} 
            = link_to "Employees", employee_masters_path
          %li.dropdown{:class => "#{controller_name == "payslips" ? 'active': ''}"} 
            = link_to raw("Payslips <b class='caret'></b>"), payslips_path, "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to "Payslips", payslips_path
              %li.divider
              %li
                = link_to "Email & Print Payslips", payslips_new_email_payslips_path
              %li
                = link_to "Default Allowances & Deductions" , default_allowance_deductions_path
              %li
                = link_to "Email Jobs" , job_runs_path

          %li{:class => "#{controller_name == 'employee_leaves' ? 'active': ''}"} 
            = link_to "Leaves" , employee_leaves_path
          
          %li.dropdown{:class => "#{controller_name == 'salary_break_ups' ? 'active': ''}"} 
            = link_to raw("Breakups <b class='caret'></b>"), "#", "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to "Salary BreakUps" , salary_break_ups_path(:type => :salary)
              %li.divider
              %li
                = link_to "Employer PF Contibution" , salary_break_ups_path(:type => :pf)
              %li.divider
              %li
                = link_to "Default values" , salary_break_ups_path(:type => :default)
              %li.divider
              %li
                = link_to "Income Tax" , tax_buckets_path
          - if current_user.manager?
            %li{:class => "#{controller_name == 'designation_masters' ? 'active': ''}"} 
              = link_to "Mapping" , designation_masters_path
            %li{:class => "#{controller_name == 'pf_statements' ? 'active': ''}"} 
              = link_to "PF Statements" , pf_statements_list_jobs_path
          %li.dropdown{:class => "#{controller_name == 'form24' ? 'active': ''}"} 
            = link_to raw("Form24 <b class='caret'></b>"), "#", "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to "Annexure 1" , form24_index_path
              %li
                = link_to "Annexure 2" ,  annexure_form24_index_path
          %li.dropdown
            = link_to raw("Reports <b class= 'caret'></b>"), "#", "data-toggle" => "dropdown" , :class => 'dropdown-toggle'
            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to "Joining Reports" , reports_employee_masters_path 
              %li
                = link_to "CTC Reports" , ctc_reports_employee_masters_path 
        .pull-right
          %ul.nav.navbar-nav
            %li
              = link_to raw("#{fa_icon "bell 2x"}"), root_path
            %li.dropdown
              = link_to raw("#{current_user.user_id} <b class='caret'></b>"), "#", "data-toggle" => "dropdown", :class => 'dropdown-toggle'
              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to "Sign Out", destroy_user_session_path, :data => {:method => :delete}
                  = link_to "Change Password", edit_user_registration_path(current_user)
                  - if current_user.manager?
                    = link_to "Edit User", edit_user_home_index_path
                  = link_to "Day Ends" , day_ends_home_index_path
            %li
              = link_to session[:transaction_date], "#"
