#!/bin/sh
<%APP_ROOT=  "/home/deployer/apps/hochtief_payroll/current"%>
CMD="cd <%= APP_ROOT%>; RAILS_ENV=production ~/.rbenv/bin/rbenv exec bundle exec bin/delayed_job stop"
AS_USER=deployer
set -u
sudo su -c "$CMD" - $AS_USER
