<%APP_ROOT=  "/home/deployer/apps/hochtief_payroll/current"%>
<%SHARED_PATH=  "/home/deployer/apps/hochtief_payroll/shared"%>
check process delayed_job with pidfile /home/deployer/apps/hochtief_payroll/current/tmp/pids/delayed_job.0.pid
  start program = "<%= SHARED_PATH%>/config/delayed_job_start.sh"
  stop program = "<%= SHARED_PATH%>/config/delayed_job_stop.sh"
