
/* .btn 
/*   border-radius: 2px
/* .form-control
/*   border-radius: 0px
hr
  margin-top: 12px
  margin-bottom: 8px
/* .table > thead > tr 
/*   color: #707070
/*   font-weight: normal
/*   background: linear-gradient(to bottom, #F8F8F8 0px, #ECECEC 100%) repeat-x scroll 0% 0% #F2F2F2

.table.table-bordered > thead > tr > th:first-child
  border-left-color: #DDD
 
.table > thead > tr > th
  border-color: #DDD
  font-weight: bold

.font-9
  font-size: 9px
.form-control
  @extend .form-control
  height: 32px
  border-radius: 0px

.form-control-medium
  @extend .form-control
  height: 25px
.form-group-less-margin
  @extend .form-group
  margin-top: 10px
.panel-body-no-padding
  @extend .panel-body
  padding: 0px
.col-md-4-no-padding
  @extend .col-md-4
  padding: 5px
  
.col-md-3-no-padding
  @extend .col-md-3
  padding: 2px
.col-md-6-no-padding
  @extend .col-md-6
  padding: 2px

.col-md-1-no-padding
  @extend .col-md-1
  padding: 2px

.form-group 
  margin-bottom: 8px
.table-with-no-padding
  @extend .table
  /* @extend .table-bordered
  margin-bottom: 0px
  tr
    td
      padding: 0px

.certificate-css
  text-align: center
  font-weight: bold
  font-size: 1em

