@import 'bootstrap'
hr
  margin-top: 12px
  margin-bottom: 8px
.page-break
  display: block
  clear: both
  page-break-after: always

.table-pdf
  @extend .table 
  td
    padding: 1px
    border: 1px solid #dddddd

.table-bordered-no-outer-lines
  border: 1px solid #dddddd
  margin-bottom: 0px
  tr
    border: 1px solid #dddddd
    td
      padding: 1px
      border: 1px solid #dddddd
    th
      padding: 1px
      border: 1px solid #dddddd

.font-css tbody td 
  font-size: 13px
.certificate-css
  text-align: center
  font-weight: bold
  font-size: 1.1em

.col-xs-6-no-padding
  @extend .col-xs-6
  padding-right: 0px
.col-xs-6-no-padding-left
  @extend .col-xs-6
  padding-left: 0px
